# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
../local.dart
../_generated_/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

lib/local.dart
lib/graphql/__generated__/allPullRequests.ast.gql.dart
lib/graphql/__generated__/allPullRequests.data.gql.dart
lib/graphql/__generated__/allPullRequests.data.gql.g.dart
lib/graphql/__generated__/allPullRequests.req.gql.dart
lib/graphql/__generated__/allPullRequests.req.gql.g.dart
lib/graphql/__generated__/allPullRequests.var.gql.dart
lib/graphql/__generated__/allPullRequests.var.gql.g.dart
lib/graphql/__generated__/commentOfPr.ast.gql.dart
lib/graphql/__generated__/commentOfPr.data.gql.dart
lib/graphql/__generated__/commentOfPr.data.gql.g.dart
lib/graphql/__generated__/commentOfPr.req.gql.dart
lib/graphql/__generated__/commentOfPr.req.gql.g.dart
lib/graphql/__generated__/commentOfPr.var.gql.dart
lib/graphql/__generated__/commentOfPr.var.gql.g.dart
lib/graphql/__generated__/MutationChangeComment.ast.gql.dart
lib/graphql/__generated__/MutationChangeComment.data.gql.dart
lib/graphql/__generated__/MutationChangeComment.data.gql.g.dart
lib/graphql/__generated__/MutationChangeComment.req.gql.dart
lib/graphql/__generated__/MutationChangeComment.req.gql.g.dart
lib/graphql/__generated__/MutationChangeComment.var.gql.dart
lib/graphql/__generated__/MutationChangeComment.var.gql.g.dart
lib/graphql/__generated__/PrListByRepo.ast.gql.dart
lib/graphql/__generated__/PrListByRepo.data.gql.dart
lib/graphql/__generated__/PrListByRepo.data.gql.g.dart
lib/graphql/__generated__/PrListByRepo.req.gql.dart
lib/graphql/__generated__/PrListByRepo.req.gql.g.dart
lib/graphql/__generated__/PrListByRepo.var.gql.dart
lib/graphql/__generated__/PrListByRepo.var.gql.g.dart
lib/graphql/__generated__/RepolistByOwner.ast.gql.dart
lib/graphql/__generated__/RepolistByOwner.data.gql.dart
lib/graphql/__generated__/RepolistByOwner.data.gql.g.dart
lib/graphql/__generated__/RepolistByOwner.req.gql.dart
lib/graphql/__generated__/RepolistByOwner.req.gql.g.dart
lib/graphql/__generated__/RepolistByOwner.var.gql.dart
lib/graphql/__generated__/RepolistByOwner.var.gql.g.dart
lib/graphql/__generated__/schema.docs.ast.gql.dart
lib/graphql/__generated__/schema.docs.schema.gql.dart
lib/graphql/__generated__/schema.docs.schema.gql.g.dart
lib/graphql/__generated__/serializers.gql.dart
lib/graphql/__generated__/serializers.gql.g.dart
